
{% extends "layout.html.twig" %}
	{% block javascripts %}
		<script type="text/javascript">
			$(document).ready(function(){
				$('.deleteCreation').click(function(){
					var id = $(this).data('id');
					var tr = $(this).closest("tr");
					$.ajax({url: "/dashboard/creations/"+id, method:"DELETE",
						data:{
							form:{
								_token: "{{csrf_token('form')}}"
							}
						},
						success: function(result){
					      tr.remove();
						}, error: function(error){
							alert("No se pudo eliminar la creation");
						}
					});
				});
			});
		</script>
	{% endblock %}
	{% block container%}
		<p class="text-right"><a href="{{path('creactions.create')}}" class="btn btn-info">Create un nouvelle</a></p>
		<h1>Todas las creaciones:</h1>
		<table class="table">
			<tr class="thead-dark">
				<th>Nombre</th>
				<th>Description</th>
				<th>Lien</th>
				<th>Image</th>
				<th>Date</th>
				<th></th>
			</tr>
			{% for creation in creations %}
			<tr>
				<td>{{creation.name}}</td>
				<td>{{creation.description}}</td>
				<td>{{creation.link}}</td>
				<td>{{creation.image}}</td>
				<td>{{creation.regDate|date("m/d/Y")}}</td>
				<td>
					<a href="{{ path('creations.edit', { 'id' : creation.id }) }}"><i class="fas fa-edit"></i></a>
					<a href="#" class="deleteCreation" data-id="{{creation.id}}"><i class="fas fa-trash"></i></a>
				</td>
			</tr>
			{% endfor %}	
		</table>
	{% endblock %}